div {
    border-style: solid;
    border-color: rgb(215, 34, 134);
    border-width: 5px;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
    background-color: rgb(86, 159, 86);
    color: yellow;
    text-indent: 20px;
    line-height: -2px;
   display: inline-block;
   height: 250px;
   width: 250px;

   margin-top: 20px;
   margin-bottom: 30px;
   margin-left: 20px;
}