h1 {
    color: rgb(0, 23, 198);
    text-align: center;
    text-decoration: underline;
    text-decoration: overline;
    text-transform:uppercase;
    font-size: 50px;
    text-shadow: 5px 8px 2px green;
  
}

p {
    text-indent: 50px;

}