body {
    background-color: rgb(35, 35, 161);
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20250802/pngtree-aerial-view-of-vibrant-turquoise-ocean-waves-flowing-onto-pristine-white-image_17687195.webp);
background-repeat: no-repeat;
background-position: top right;
background-size: cover;
background-attachment: fixed;
}